*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-top li a {
    color: black;
}

.menu-top li a:hover {
    text-decoration: none;
}

.menu-top li {
    /* background-color: silver; */
    width: 100%;
    text-align: center;
}
.has-font-segoe{
    font-family: segoe ui;
}
.menu-top .logo img{
    height: 70px;
}
.menu-top ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: auto;
}

